@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #F5F5F7;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}